.distance-label{
    font-size: 2em;
    padding-bottom: 10px;
    text-align: center;
}

.age-label{
    font-size: 2em;
    padding-bottom: 10px;
    text-align: center;
}

.btn{
    text-align: center;
}

#title{
    text-align: center;
}